@charset "UTF-8";

.wrap {
	width: 1200px;
	margin: 0 auto
}

/* banner */
.banner_menu {
	position: relative;
}

.banner_menu.main_img {
	position: absolute 50% 0%;
	height: 650px;
	repeat: no-repeat;
}

/* banner_λΈν†µ */
.haccp .sqMenu li {
	float: left;
	padding-bottom: 5px;
	padding-right: 5px;
	list-style: none;
}

.haccp .sqMenu1 li {
	float: left;
	padding-bottom: 5px;
	padding-right: 5px;
	list-style: none;
}

#popUp {
	position: absolute;
	width: 400px;
	height: 200px;
	z-index: 10000;
	left: 1460px;
	top: 200px;
}

#td {
	width :100%;
	height:200;
	border:0;
	cellspacing:0;
	cellpadding:0;
	align:center;
}
#popUpDiv{
	background:#000000; 
	color: #DBDBDB; 
	padding: 7px; 
	cursor: pointer; 
	position: relative; 
/* 	overflow: hidden;  */
	letter-spacing: 0px"
	}