@charset "UTF-8";


/* 테이블 title */
td.title {
	text-align: center;
}

/* 테이블 content */
td {
	padding: 0;
	margin: 0;
	text-align: left;
}

.addStockform {
	padding: 30px 0 0 20px;
	width: 800px;
	align: center;
}

.stocktbl {
	width: 800px;
	align:center;
	border: 1px solid #dddddd;
}
	
.stocktbl tr td {
	border: 1px solid #dddddd;
	text-align: center;
}

.stocktbl tr td a{
	color:black;
}

/* 제품명 */
#s_name {
	height: 25px;
}

/* 제품소개 */
#review {
	width: 100%;
	height: 200px;
}

/* 가격 */
#s_price {
	height: 25px;
}

/* 수량 */
#s_count {
	height: 25px;
}

/* 사진 */
#input_pic {
	height: 25px;
}

/* 확인 버튼 */
#img_ok {
	width: 15px;
	height: 15px;
}

/* 취소 버튼 */
#img_cancel{
	width: 15px;
	height: 15px;
}